:host >>> .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-weight: 600;
}
:host >>> .ui-dialog .ui-dialog-titlebar-icon span {
display: none !important;
}

label {
    padding-right: 20px;
}

.float-right {
    float: right;
    clear: both;
}

.table-total td {
  padding: 5px;
  padding-right: 0px;
}
