 
<div class="ui-g pb-60">
        <app-formphieuthu 
            [isShowDialogPhieuThu]="isShowDialogPhieuThu"
            (outIsShowDialogPhieuThu)="onGetIsShowDialogPhieuThu($event)">
        </app-formphieuthu>
    <div class="ui-g-8">
        <h3 class="text-center text-primary">Xuất Kho</h3>
        <div class="ui-g">
            <div class="ui-g-4">
                <button pButton type="button" label="Phiếu Mới" icon="fa fa-plus" (click)="generateProductCode()"></button>
            </div>
            <div class="ui-g-4">
                <button pButton type="button" label="Hủy Phiếu" icon="fa fa-ban"></button>
            </div>
        </div>
        <hr>
        <div class="ui-g">
            <div class="ui-g-4">
                <p>Nhân Viên Lập</p>
                <input [(ngModel)]="exportReceipt.nhanVienLap" type="text" pInputText />
            </div>
            <div class="ui-g-4">
                <p>Tên Khách Hàng</p>
                <p-dropdown [options]="shopList" placeholder="Chọn" optionLabel="name" [showClear]="true" (onChange)="onDropdownValueChange($event)"></p-dropdown>
            </div> 
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <p>Số Phiếu</p>
                <input type="text" [disabled]="true" pInputText [(ngModel)]="exportReceipt.ma" />
            </div>
            <div class="ui-g-4">
                <p>Người Đại Diện</p>
                <input type="text" [(ngModel)]="exportReceipt.nguoiDaiDien" pInputText/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <p>Số Điện Thoại</p>
                <input type="text" [(ngModel)]="exportReceipt.soDienThoai" pInputText pKeyFilter="num" />
            </div>
        </div>
        <br>
        <br>
        <p-table [value]="tableProducts" selectionMode="single" [paginator]="true" [rows]="15" (onEditComplete)="onProductTableEditCompleted($event)">
                <ng-template pTemplate="caption">
                    Danh Sách Sản Phẩm
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Tên mặt hàng</th>
                        <th>Mã hàng</th>
                        <th>Mệnh giá</th>
                        <th>SL/ ĐV</th>
                        <th>CKMH(%)</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.ten }}</td>
                        <td>{{ product.ma }}</td>
                        <td>{{ product.menhGia | number }}</td>
                        <td>{{ product.soLuong | number }}</td>
                        <td pEditableColumn [pEditableColumn]="product" [pEditableColumnField]="'chietKhau'">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.chietKhau" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.chietKhau }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>{{ product.donGia }}</td>
                        <td>{{ product.thanhTien }}</td>
                    </tr>
                </ng-template>
            </p-table>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" [(ngModel)]="exportReceipt.ghiChu" type="text" style="width:100%" pInputText />
                <label for="float-input">Ghi Chú</label>
            </span>
        </div>
        <div class="ui-g-8 float-right">
            <table class="float-right table-total">
                <tr>
                    <td>Cộng Tiền Hàng:</td>
                    <td>
                        <input [disabled]="true" type="number" pInputText value="{{ totalMoney }}" />
                    </td>
                </tr>
                <tr>
                    <td>VAT:</td>
                    <td>
                        <input [disabled]="true" type="number" pInputText value="{{ vatMoney }}" />
                    </td>
                </tr>
                <tr>
                    <td>Tổng Cộng:</td>
                    <td>
                        <input [disabled]="true" type="number" pInputText [(ngModel)]="exportReceipt.tongTien" value="{{ total }}" />
                    </td>
                </tr>
                <tr>
                    <td>Hình Thức:</td>
                    <td>
                        <p-checkbox name="bank" binary="true" [(ngModel)]="isPaybankChecked"></p-checkbox>&nbsp;
                        <span>Ngân Hàng</span>
                        <br/>
                        <span class="mt-2"></span>
                        <p-dropdown *ngIf="isPaybankChecked" name="loaiNganHang" [options]="LoaiNganHang" [(ngModel)]="loaiNganHang"></p-dropdown>
                        <input class="mt-2" *ngIf="isPaybankChecked" type="number" min="0" name="payBank" autocomplete="off" pInputText [(ngModel)]="payBank" (change)="onChangePaybank($event)" />
                        <br/>
                        <p-checkbox name="cash" binary="true" [(ngModel)]="isPaycashChecked"></p-checkbox>&nbsp;
                        <span>Tiền Mặt</span><br/>
                        <input class="mt-2" *ngIf="isPaycashChecked" type="number" min="0" name="payCash" autocomplete="off" pInputText [(ngModel)]="payCash"  (change)="onChangePaycash($event)" />
                    </td>
                </tr>
                <tr>
                    <td>Thanh Toán NCC:</td>
                    <td>
                        <input type="number" pInputText pKeyFilter="pnum" [(ngModel)]="thanhToan" />
                    </td>
                </tr>
                <tr>
                    <td>Còn Lại:</td>
                    <td>
                        <input type="number" pInputText pKeyFilter="pnum" [(ngModel)]="total - thanhToan" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <button pButton type="button" (click)="save()" label="Lưu" icon="fa fa-save"></button>
            </div>
            <div class="ui-g-4">
                <button pButton type="button" label="In Phiếu" icon="fa fa-print"></button>
            </div>
        </div>
<!--         <div class="ui-g-12">
            <p-table>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="background: yellow" colspan="5">Số Tiền Cần Thanh Toán</th>
                        <th style="background: yellow">457.003</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="2">Gợi Ý Số Tiền</td>
                        <td><input type="button" value="50.000"></td>
                        <td><input type="button" value="100.000"></td>
                        <td><input type="button" value="200.000"></td>
                        <td><input type="button" value="400.000"></td>
                    </tr>
                </ng-template>
            </p-table>

            <div>
                <p>Thanh Toán Bằng Nhiều Hình Thức:</p>
                <div class="ui-g-3"></div>
                <div class="ui-g-3">
                    <button pButton type="button" label="Tiền Mặt"></button>
                </div>
                <div class="ui-g-3">
                    <button pButton type="button" label="Chuyển Khoản"></button>
                </div>
            </div>
            <p-table>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-checkbox binary="true"></p-checkbox>
                        </th>
                        <th>Tiền Mặt</th>
                        <th>PN20180612.123</th>
                        <th pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    50000
                                </ng-template>
                            </p-cellEditor>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td>
                            <p-checkbox binary="false"></p-checkbox>
                        </td>
                        <td>
                            Chuyển Khoảng
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="banks" [(ngModel)]="bank" optionLabel="name" placeholder="Ngân Hàng"  [style]="{'width':'100%'}"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output"  *ngIf="bank">
                                    {{bank.name}}
                                </ng-template>
                                <ng-template pTemplate="output"  *ngIf="!bank">
                                        Chọn Thẻ Ngân Hàng
                                    </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" pKeyFilter="num" [style]="{'width':'100%'}">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    350000
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2">
                <button pButton type="button" label="Xong" icon="fa fa-check"></button>
            </div>
            <div class="ui-g-2">
                <button pButton type="button" label="Bỏ Qua"></button>
            </div>
        </div> -->
    </div>
    <div class="ui-g-4">
        <p-tabView>
            <p-tabPanel header="Kho Sim">
                <p-table #dt [value]="tabviewProducts" selectionMode="single" [paginator]="true" [rows]="10" (onEditComplete)="rowEditCompleted($event)">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Tên</th>
                            <th>Tồn Kho</th>
                            <th>Số Lượng Xuất</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.ten}}</td>
                            <td>{{product.soluong}}</td>
                            <td pEditableColumn [pEditableColumn]="product" [pEditableColumnField]="'exportnumber'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input type="number" min=0 oninput="validity.valid||(value='');" [(ngModel)]="product.exportnumber">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.exportnumber}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>  
    </div>
</div>
