<div class="modal-header">
  <strong>{{title}}</strong>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="modalForm" novalidate>
    <div class="row" formGroupName="warehouse">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group"
             [ngClass]="{'is-invalid':  modalForm.get('warehouse').get('name').invalid && submitted,'is-valid': modalForm.get('warehouse').get('name').valid && submitted}">
          <label class="control-label">Name *</label>
          <input type="text" class="form-control" placeholder="Name" autofocus formControlName="name">
        </div>
        <div class="form-group"
             [ngClass]="{'is-invalid': modalForm.get('warehouse').get('note').invalid && submitted, 'is-valid': modalForm.get('warehouse').get('note').valid && submitted}">
          <label class="control-label">Note *</label>
          <input type="text" class="form-control margin-bottom-5" placeholder="note" autofocus formControlName="note">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <a href="javascript:void(0)" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</a>
  <a href="javascript:void(0)" class="btn btn-sm btn-primary" (click)="save()">Save</a>
</div>