<p-table [columns]="cols" [value]="networks" selectionMode="single" [(selection)]="selectedNetwork" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    Danh Sách Nhà Mạng
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>    
</p-table>

<p-dialog header="Network Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" *ngIf="network">
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="ten">Tên</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="ten" [(ngModel)]="network.ten" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="ma">Mã</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="ma" [(ngModel)]="network.ma" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="menhgia">Mệnh Giá</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="menhgia" [(ngModel)]="network.menhgia" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="chietkhaudauvao">Chiết Khấu Đầu Vào</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="chietkhaudauvao" [(ngModel)]="network.chietkhaudauvao" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="chietkhaucaonhat">Chiết Khấu Cao Nhất</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="chietkhaucaonhat" [(ngModel)]="network.chietkhaucaonhat" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="buocnhay">Bước Nhảy</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="buocnhay" [(ngModel)]="network.buocnhay" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="khungtien_1">Khoảng Giá 1</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="khungtien_1" [(ngModel)]="network.khungtien_1" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="khungtien_2">Khoảng Giá 2</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="khungtien_2" [(ngModel)]="network.khungtien_2" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="khungtien_3">Khoảng Giá 3</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="khungtien_3" [(ngModel)]="network.khungtien_3" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="khungtien_4">Khoảng Giá 4</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="khungtien_4" [(ngModel)]="network.khungtien_4" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="khungtien_5">Khoảng Giá 5</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="khungtien_5" [(ngModel)]="network.khungtien_5" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="khungtien_6">Khoảng Giá 6</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="khungtien_6" [(ngModel)]="network.khungtien_6" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="khungtien_7">Khoảng Giá 7</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="khungtien_7" [(ngModel)]="network.khungtien_7" />
          </div>
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>