<div class="ui-g-12">
    <div class="ui-g-8">
        <h3 class="text-center text-primary">Nhập Kho</h3>
        <div class="ui-g">
            <div class="ui-g-4">
                <button pButton type="button" label="Phiếu Mới" icon="fa fa-plus" (click)="generateProductCode()"></button>
            </div>
            <div class="ui-g-4">
                <button pButton type="button" label="Sửa Phiếu" icon="fa fa-edit"></button>
            </div>
            <div class="ui-g-4">
                <button pButton type="button" label="Hủy Phiếu" icon="fa fa-ban"></button>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <p>Nhân Viên Lập</p>
                <input [(ngModel)]="importReceipt.nhanVienLap" type="text" pInputText />
            </div>
            <div class="ui-g-4">
                <p>Nhập Bằng File Excel</p>
                <p-fileUpload mode="basic" customUpload="true" (uploadHandler)="uploadProductList($event)" auto="true" accept=".xlsx"></p-fileUpload>
                <!-- <input #myInput type="file" id="file" class="hidden" (change)="uploadProductList($event)" accept=".xlsx" />
                <label for="file">Chọn File</label> -->
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <p>Số Phiếu</p>
                <input type="text" [disabled]="true" pInputText [(ngModel)]="importReceipt.ma" />
            </div>
            <div class="ui-g-4">
                <p>Ngày Lập</p>
                <p-inputMask mask="99/99/9999" placeholder="30/10/1996" slotChar="mm/dd/yyyy"></p-inputMask>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <p>Tên Nhà CC</p>
                <p-dropdown [options]="suppliers" placeholder="Chọn Nhà CC" optionLabel="name" [showClear]="true" (onChange)="onDropdownValueChange($event)"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <p>Công Nợ Cũ</p>
                <input type="number" [(ngModel)]="importReceipt.congNoCu" pInputText pKeyFilter="money" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <p>Người Đại Diện</p>
                <input type="text" [(ngModel)]="importReceipt.nguoiDaiDien" pInputText/>
            </div>
            <div class="ui-g-4">
                <p>Số Điện Thoại</p>
                <input type="text" [(ngModel)]="importReceipt.soDienThoai" pInputText pKeyFilter="num" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <p-table [value]="tableProducts" selectionMode="single" [paginator]="true" [rows]="15" (onEditComplete)="onProductTableEditCompleted($event)">
                    <ng-template pTemplate="caption">
                        Danh Sách Sản Phẩm
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Tên mặt hàng</th>
                            <th>Mã hàng</th>
                            <th>SL/ ĐV</th>
                            <th>Mệnh giá</th>
                            <th>CKMH(%)</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.ten }}</td>
                            <td>{{ product.ma }}</td>
                            <td>{{ product.soLuong | number }}</td>
                            <td>{{ product.menhGia | number }}</td>
                            <td pEditableColumn [pEditableColumn]="product" [pEditableColumnField]="'chietKhau'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="product.chietKhau" />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ product.chietKhau }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>{{ product.donGia }}</td>
                            <td>{{ product.thanhTien }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" [(ngModel)]="importReceipt.ghiChu" type="text" style="width:100%" pInputText />
                <label for="float-input">Ghi Chú</label>
            </span>
        </div>
        <div class="ui-g-8 float-right">
            <table class="float-right table-total">
                <tr>
                    <td>Cộng Tiền Hàng:</td>
                    <td>
                        <input [disabled]="true" type="number" pInputText value="{{ totalMoney }}" />
                    </td>
                </tr>
                <tr>
                    <td>VAT:</td>
                    <td>
                        <input [disabled]="true" type="number" pInputText value="{{ vatMoney }}" />
                    </td>
                </tr>
                <tr>
                    <td>Tổng Cộng:</td>
                    <td>
                        <input [disabled]="true" type="number" pInputText [(ngModel)]="importReceipt.tongTien" value="{{ total }}" />
                    </td>
                </tr>
                <tr>
                    <td>Thanh Toán NCC:</td>
                    <td>
                        <input type="number" pInputText pKeyFilter="pnum" [(ngModel)]="thanhToan" />
                    </td>
                </tr>
                <tr>
                    <td>Còn Lại:</td>
                    <td>
                        <input type="number" pInputText pKeyFilter="pnum" [(ngModel)]="total - thanhToan" />
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="ui-g-12">
            <div class="ui-g-2">
                <button pButton type="button" (click)="save()" label="Lưu" icon="fa fa-save"></button>
            </div>
            <div class="ui-g-2">
                <button pButton type="button" label="In Phiếu" icon="fa fa-print"></button>
            </div>
            <div class="ui-g-6">
                <label for="xuatdulieu">Xuất Dữ Liệu:</label>
                <p-dropdown id="xuatdulieu" placeholder="Chọn Định Dạng" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-2">
                <button pButton type="button" icon="fa fa-save"></button>
            </div>
        </div>
    </div>
	<div class="ui-g-4">
        <p-tabView>
            <p-tabPanel header="Sim Số">
                <p-table #dt [value]="tabviewProducts" selectionMode="single" [paginator]="true" [rows]="10" (onEditComplete)="rowEditCompleted($event)">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Tên</th>
                            <th>Tồn Kho</th>
                            <th>Số Lượng</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.ten}}</td>
                            <td>{{product.soluong}}</td>
                            <td pEditableColumn [pEditableColumn]="product" [pEditableColumnField]="'soluongnhap'">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input type="number" min=0 oninput="validity.valid||(value='');" [(ngModel)]="product.soluongnhap">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{product.soluongnhap}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>  
    </div>
</div>