<header class="hd-ft-place border-hd">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main-title">
            <h4>WorldShop</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 main-info">
            <div><b class="float-left">Địa Chỉ:</b>&nbsp;<p>68 Tân Bình, HCM</p></div>
            <div><b class="float-left">Số ĐT:</b>&nbsp;<p>090988998</p></div>
            <div><b class="float-left">Email:</b>&nbsp;<p>test@gmail.com</p></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-header-section">
        <a routerLink="login" *ngIf="isLoggedIn === false" class="btn btn-sm btn-primary">Login</a>
        <a href="javascript:void(0)" (click)="logout()" *ngIf="isLoggedIn === true" class="btn btn-sm btn-danger">Logout</a>
    </div>
 </header>