.hd-ft-place {
  padding: 15px 0;
  overflow-x: hidden;
}
.btn-header-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 25px;
}
.border-hd {
  border-bottom: 1px solid #eee;
}
.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

