<!--<header class="hd-ft-place border-hd">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="background-image: url('../assets/images/header.jpg');">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main-title">
            <p class="branch branch-caption">Chi nhánh</p>
            <p class="branch branch-name">Hồng Bàng</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 main-info">
            <p class="branch branch-caption">Địa Chỉ:</p>
            <p class="branch branch-contact">785 Hồng Bàng, P.6, Q.6, TP.HCM</p>
            <p class="branch branch-caption">Số ĐT:</p>
            <p class="branch branch-contact">0283 9605596</p>
            <p class="branch branch-caption">Email:</p>
            <p class="branch branch-contact">thanhvienhcm@gmail.com</p>
            </div>
        </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-header-section">
        <a routerLink="login" *ngIf="isLoggedIn === false" class="btn btn-sm btn-primary">Login</a>
        <a href="javascript:void(0)" (click)="logout()" *ngIf="isLoggedIn === true" class="btn btn-sm btn-danger">Logout</a>
    </div>
 </header>-->


<nav class="navbar navbar-default" style="background-image: url('../assets/images/header.jpg'); background-size:cover; height: 160px;">
    <div class="container-fluid" style="display: block; height: inherit">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main-title">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Thu / Mở</span>
                </button>
            </div>
            <p class="branch branch-caption">Chi nhánh</p>
            <p class="branch branch-name">Hồng Bàng</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main-info">
            <p class="branch branch-caption">Địa Chỉ:</p>
            <p class="branch branch-contact">785 Hồng Bàng, P.6, Q.6, TP.HCM</p>
            <p class="branch branch-caption">MST:</p>
            <p class="branch branch-contact">0303253680</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main-info">
            <p class="branch branch-caption">Số ĐT:</p>
            <p class="branch branch-contact">0283 9605596</p>
            <p class="branch branch-caption">Email:</p>
            <p class="branch branch-contact">thanhvienhcm@gmail.com</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="flex-direction: initial;">
                <li>
                    <a routerLink="login" *ngIf="isLoggedIn === false" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Login</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" (click)="logout()" *ngIf="isLoggedIn === true" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
