.hd-ft-place {
  padding: 5px 0;
  overflow-x: hidden;
}
.btn-header-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 25px;
}
.border-hd {
  border-bottom: 1px solid #eee;
}
.main-title {
  padding: 50px 0;
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}