<div class="row pb-60">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb-20">
		<h2 class="text-center text-primary">Theo dõi Sổ ngân hàng</h2>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-15">
    <p>Chọn tài khoản ngân hàng</p>
    <p-dropdown [options]="LoaiNganHang" [(ngModel)]="selectedNganHang" name="selectedNganHang">
    </p-dropdown>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-20">
    <div class="row">
      <div class="col-lg-3">
        <p >Chọn đơn vị</p>
        <p-dropdown [options]="LoaiDonVi" [(ngModel)]="selectedDonVi" name="loaiDonVi">
        </p-dropdown>
      </div>
      <div class="col-lg-3">
        <p>Từ ngày</p>
        <p-calendar [(ngModel)]="tuNgay" [showIcon]="true"></p-calendar>
      </div>
      <div class="col-lg-3 pr-0">
        <p>Tới ngày</p>
        <div>
          <p-calendar [(ngModel)]="toiNgay" [showIcon]="true"></p-calendar>
          <span class="pi pi-search m-pointer float-right" (click)="onSearch()"></span>
        </div>
      </div>
      <div class="col-lg-3">
        <p>Xuất dữ liệu</p>
        <p-dropdown [options]="LoaiDuLieu" [(ngModel)]="selectedLoaiDuLieu" name="selectedLoaiDuLieu">
        </p-dropdown>&nbsp; <span class="pi pi-download m-pointer"></span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-20">
    <div class="row">
      <div class="col-lg-3">
        <p>Tồn đầu kì</p>
        <input type="text" name="tonDauKi" class="form-control" [(ngModel)]="tonDauKi" />
      </div>
      <div class="col-lg-3">
        <p>Tồn cuối kì</p>
        <input type="text" name="tonCuoiKi" class="form-control" [(ngModel)]="tonCuoiKi" />
      </div>
      <div class="col-lg-3">
        <p>Thu</p>
        <input type="text" name="soTienThu" class="form-control" [(ngModel)]="searchSoTienThu" />
      </div>
      <div class="col-lg-3">
        <p>Chi</p>
        <input type="text" name="soTienChi" class="form-control" [(ngModel)]="searchSoTienChi" />
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 place-button">
    <button type="button" (click)="onShowDialogPhieuChi()" pButton icon="pi pi-info-circle" label="Phiếu Chi"></button>&nbsp;
    <app-formphieuchibankbook [isShowDialogPhieuChi]="isShowDialogPhieuChi"
                                [isNewCashBook]="isNewCashBook"
                                [idSelectedBankbook]="idSelectedBankbook"
                                (outIsShowDialogPhieuChi)="onGetIsShowDialogPhieuChi($event)"
                                (outDataPhieuChi)="onGetDataPhieuChi($event)"></app-formphieuchibankbook>

    <button type="button" (click)="onShowDialogPhieuThu()" pButton icon="pi pi-info-circle" label="Phiếu Thu"></button>
    <app-formphieuthubankbook [isShowDialogPhieuThu]="isShowDialogPhieuThu"
                                [isNewCashBook]="isNewCashBook"
                                [idSelectedBankbook]="idSelectedBankbook"
                                (outIsShowDialogPhieuThu)="onGetIsShowDialogPhieuThu($event)"
                                (outDataPhieuThu)="onGetDataPhieuThu($event)"></app-formphieuthubankbook>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
    <p-table [columns]="cols" #datatable class="table-fixed" [responsive]="true" [value]="bankbook" [(selection)]="selectedBankbook"
        selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
      <ng-template pTemplate="caption">
        <p class="header-table">Danh Sách Sổ Ngân Hàng</p>
        <button type="button" class="float-right" pButton label="Xuất Excel" (click)="datatable.exportCSV()" icon="pi pi-download">
        </button>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
              {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.dateCreated | date: "dd/MM/yyyy"}}</td>
          <td>{{rowData.tenKhachHang}}</td>
          <td>{{rowData.maPhieu}}</td>
          <td>{{rowData.noiDungPhieu}}</td>
          <td>{{rowData.soTienThu}}</td>
          <td>{{rowData.soTienChi}}</td>
          <!-- <td>{{rowData.congDon}}</td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
