<div>
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <p-table [columns]='cols' [value]='configInfo' selectionMode='single' [(selection)]='selectedConfig'
                (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5">
                <ng-template pTemplate="caption">
                    Danh Sách Cấu Hình
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>STT</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="rowData">
                        <td>{{rowIndex + 1}}</td>
                        <td>{{rowData.maCH}}</td>
                        <td>{{rowData.tenCH}}</td>
                        <td>{{rowData.giaTri}}</td>
                        <td>{{rowData.ngayTao | date:'longDate' }}</td>
                        <td>{{rowData.ghiChu}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-toast position="top-center"
                        [showTransitionOptions]="'200ms ease-out'" [hideTransitionOptions]="'250ms ease-out'"></p-toast>
            <p-dialog header="Chi Tiết Cấu Hình" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
                [modal]="true" [width]="300">
                <form #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="ui-g ui-fluid" *ngIf="configUpdate">
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label>Giá Trị (*)</label>
                            </div>
                            <div class="ui-g-8">
                                <input name="giaTri" pInputText  #giaTri="ngModel"  [(ngModel)]="configUpdate.giaTri" required/>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label>Ghi Chú</label>
                            </div>
                            <div class="ui-g-8">
                                <input name="ghiChu" pInputText [(ngModel)]="configUpdate.ghiChu" />
                            </div>
                        </div>
                    </div>
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Cập Nhật</button>
                        </div>
                    </p-footer>
                </form>
            </p-dialog>
        </div>
    </div>
</div>