input.ng-invalid {
  border: 1px solid #a6a6a6 !important;
}
.ml-20 {
  margin-left: 20px;
}
.input-invalid {
  border: 1px solid red;
}

:host >>> a.ng-tns-c3-1.ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-corner-all.ng-star-inserted {
  display: none !important;
}