.pt-modal {
    padding-top: 230px;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
  .pt-modal {
    padding-top: 360px;
  }
}

.overflow-xy {
  overflow-x: hidden;
  overflow-y: auto;
}


