.card {
    overflow: hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.sub-menu {
    list-style-type: none;
}

.sub-menu > li > a > i {
    width: 25px;
}


.display-4 > a > i {
    width: 50px;
}

@media (min-width: 1200px) and (max-width: 1530px) {
    .display-4 {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .display-4 > a > i {
        width: 30px;
    }
}
