<table class="table">
  <thead class="grey lighten-2">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Warehouse ID</th>
      <th scope="col">Name</th>
      <th scope="col">Note</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let warehouse of warehouses; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{warehouse.id}}</td>
      <td>{{warehouse.name}}</td>
      <td>{{warehouse.note}}</td>
      <td><button (click)="onRowClick($event, warehouse)">Remove</button></td>
    </tr>
  </tbody>
</table>