<div class="ui-g">
    <div class="ui-g-3">
        <p>Shop</p>
        <p-dropdown [options]="shops" [(ngModel)]="selectedShop" placeholder="Select a Shop" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    <div class="ui-g-3">
        <p>Warehouse</p>
        <p-dropdown [options]="warehouses" [(ngModel)]="selectedWarehouse" placeholder="Select a Warehouse" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    <div class="ui-g-3">
        <p>Date</p>
        <p-calendar [showIcon]="true"></p-calendar>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-3">
        <p>Name</p>
        <input type="text" pInputText [(ngModel)]="tempProName"/>
    </div>
    <div class="ui-g-3">
        <p>ID</p>
        <input type="number" pInputText [(ngModel)]="tempProId"/>  
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-3">
        <p>Quantity</p>
        <input type="number" pInputText [(ngModel)]="tempProQuantity"/>
    </div>
    <div class="ui-g-3">
        <p>Unit</p>
        <input type="text" pInputText [(ngModel)]="tempProUnit"/>
    </div>
    <div class="ui-g-3">
        <p>Buying Price</p>
        <input type="number" pInputText [(ngModel)]="tempProBuyingprice"/>
    </div>
    <div class="ui-g-3">
        <p>Add</p>
        <button type="button" pButton icon="fa fa-plus" (click)="addToTable()"></button>
    </div>  
</div>

<p-table [value]="products" selectionMode="single" [(selection)]="selectedProduct" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
      List of products to add
  </ng-template>  

  <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Buying Price</th>
            <th>Total</th>
            <th>Shop</th>
            <th>#</th>
        </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
        <tr>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" [(ngModel)]="product.name">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>{{product.id}}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="number" [(ngModel)]="product.quantity">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.quantity}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>{{product.unit}}</td>
            <td>{{product.buyingprice}}</td>
            <td>{{(product.quantity * product.buyingprice).toFixed(2)}}</td>
            <td>{{shops[product.shopid - 1].name}}</td>
            <td><button type="button" pButton icon="fa fa-minus" (click)="DeleteRow(product.id)"></button></td>
        </tr>
  </ng-template>  
</p-table>