<div class="row pb-60 customer-page">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb-20">
        <h2 class="text-center text-primary">Quản Lí Khách Hàng</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pd-0">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-2">
            <button pButton type="button" (click)="showDialogToAdd()" label="Thêm Khách Hàng" class="ui-button-success"
                icon="pi pi-check"></button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pd-0 mb-2">
            <app-table-configuration (listColumnTable)="onGetListField($event)"></app-table-configuration>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-2 float-right">
            <label>Chọn file excel: </label>
            <input type="file" (change)="myUploader($event)" accept=".xlsx" placeholder="Upload file" />
        </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
        <app-search-box (keyword)="onGetKeywordKH($event)"></app-search-box>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
        <p-table [columns]="cols" #datatable class="table-fixed" [responsive]="true" [value]="customers" [(selection)]="selectedCustomer"
            selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <p class="header-table">Danh Sách Khách Hàng</p>
                <button type="button" class="float-right" pButton label="Xuất Excel" (click)="datatable.exportCSV()"
                    icon="pi pi-download"></button>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngIf="dsFieldInTable.maKH">Mã khách hàng</th>
                    <th *ngIf="dsFieldInTable.tenCH">Tên cửa hàng</th>
                    <th *ngIf="dsFieldInTable.diachiCH">Địa chỉ cửa hàng</th>
                    <th *ngIf="dsFieldInTable.hoTen">Họ tên</th>
                    <th *ngIf="dsFieldInTable.sdt1">Số điện thoại</th>
                    <th *ngIf="dsFieldInTable.sdt2">Số điện thoại 2</th>
                    <th *ngIf="dsFieldInTable.ngaySinh">Ngày sinh</th>
                    <th *ngIf="dsFieldInTable.gioiTinh">Giới tính</th>
                    <th *ngIf="dsFieldInTable.email">Email</th>
                    <th *ngIf="dsFieldInTable.zalo">Zalo</th>
                    <th *ngIf="dsFieldInTable.fb">Facebook</th>
                    <th *ngIf="dsFieldInTable.tenCongTy">Tên công ty</th>
                    <th *ngIf="dsFieldInTable.masoThue">Mã số thuế</th>
                    <th *ngIf="dsFieldInTable.diachiHoaDon">Địa chỉ hóa đơn</th>
                    <th *ngIf="dsFieldInTable.nguonDen">Nguồn đến</th>
                    <th *ngIf="dsFieldInTable.ngayDen">Ngày đến</th>
                    <th *ngIf="dsFieldInTable.ngGioiThieu">Người giới thiệu</th>
                    <th *ngIf="dsFieldInTable.matheTV">Mã thẻ TV</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData">
                    <td *ngIf="dsFieldInTable.maKH">{{ rowData.maKH }}</td>
                    <td *ngIf="dsFieldInTable.tenCH">{{ rowData.tenCH }}</td>
                    <td *ngIf="dsFieldInTable.diachiCH">{{ rowData.diachiCH }}</td>
                    <td *ngIf="dsFieldInTable.hoTen">{{ rowData.hoTen }}</td>
                    <td *ngIf="dsFieldInTable.sdt1">{{ rowData.sdt1 }}</td>
                    <td *ngIf="dsFieldInTable.sdt2">{{ rowData.sdt2 }}</td>
                    <td *ngIf="dsFieldInTable.ngaySinh">
                        {{ rowData.ngaySinh | date: "dd/MM/yyyy" }}
                    </td>
                    <td *ngIf="dsFieldInTable.gioiTinh">
                        {{ rowData.gioiTinh ? "Nam" : "Nữ " }}
                    </td>
                    <td *ngIf="dsFieldInTable.email">{{ rowData.email }}</td>
                    <td *ngIf="dsFieldInTable.zalo">{{ rowData.zalo }}</td>
                    <td *ngIf="dsFieldInTable.fb">{{ rowData.fb }}</td>
                    <td *ngIf="dsFieldInTable.tenCongTy">{{ rowData.tenCongTy }}</td>
                    <td *ngIf="dsFieldInTable.masoThue">{{ rowData.masoThue }}</td>
                    <td *ngIf="dsFieldInTable.diachiHoaDon">
                        {{ rowData.diachiHoaDon }}
                    </td>
                    <td *ngIf="dsFieldInTable.nguonDen">{{ rowData.nguonDen }}</td>
                    <td *ngIf="dsFieldInTable.ngayDen">
                        {{ rowData.ngayDen | date: "dd/MM/yyyy" }}
                    </td>
                    <td *ngIf="dsFieldInTable.ngGioiThieu">{{ rowData.ngGioiThieu }}</td>
                    <td *ngIf="dsFieldInTable.matheTV">{{ rowData.matheTV }}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-toast position="top-center" [showTransitionOptions]="'200ms ease-out'" [hideTransitionOptions]="'250ms ease-out'"></p-toast>
        <p-dialog id="customer-dialog" header="Thông Tin Khách Hàng" [(visible)]="isOpenDialog" [responsive]="true"
            showEffect="fade" [modal]="true" [width]="950">
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Họ và tên <span style="color: red">(*)</span></label>
                    <input autocomplete="off" id="hoTen" type="text" name="hoTen" class="form-control" #hoTen="ngModel"
                        [(ngModel)]="customerInfo.hoTen" required />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div *ngIf="!isInputYear">
                                <label>Ngày sinh <span style="color: red">(*)</span></label>
                                <input type="date" name="ngaySinh" class="form-control" [value]="customerInfo.ngaySinh | date: 'yyyy-MM-dd'"
                                    (input)="parseDate($event.target.value, 'ngaySinh')" required />
                            </div>
                            <div *ngIf="isInputYear">
                                <app-date-input (day)="onGetDay($event)" (month)="onGetMonth($event)" [dayCheck]="dayCheck"
                                    [monthCheck]="monthCheck"></app-date-input>
                            </div>
                            <label>
                                <input type="checkbox" name="isInputYear" checked="isInoutYear" [(ngModel)]="isInputYear"
                                    (click)="onHandleInputYear()" />
                                Không nhập năm sinh
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Giới Tính <span style="color: red">(*)</span></label><br />
                            <input type="radio" name="gioiTinh" class="form-check-input" [value]="true" [(ngModel)]="customerInfo.gioiTinh"
                                required />&nbsp; <label class=" ml-10 form-check-label">Nam</label>&nbsp;
                            <input type="radio" name="gioiTinh" class="form-check-input" [value]="false" [(ngModel)]="customerInfo.gioiTinh"
                                required />&nbsp; <label class=" ml-10 form-check-label"> Nữ</label><br />
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <label>Tên cửa hàng</label>
                    <input type="text" name="tenCH" class="form-control" #tenCH="ngModel" [(ngModel)]="customerInfo.tenCH" />
                </div>
                <div class=" form-group">
                    <label>Địa chỉ cửa hàng</label>
                    <input type="text" name="diachiCH" class="form-control" #diachiCH="ngModel" [(ngModel)]="customerInfo.diachiCH" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Số điện thoại 1</label>
                            <input type="text" class="form-control" name="sdt1" #sdt1="ngModel" pattern="^([0][0-9]{9}|[0][0-9]{10}|[+][8][4][0-9]{9})$"
                                [(ngModel)]="customerInfo.sdt1" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Số điện thoại 2</label>
                            <input type="text" class="form-control" name="sdt2" #sdt2="ngModel" pattern="^([0][0-9]{9}|[0][0-9]{10}|[+][8][4][0-9]{9})$"
                                [(ngModel)]="customerInfo.sdt2" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Mã khách hàng</label>
                            <input type="text" name="maKH" [disabled]="true" class="form-control" [(ngModel)]="customerInfo.maKH" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Mã thẻ TV</label>
                            <input type="text" name="matheTV" class="form-control" [(ngModel)]="customerInfo.matheTV"
                                [disabled]="true" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Tên công ty</label>
                            <input type="text" name="tenCongTy" class="form-control" [(ngModel)]="customerInfo.tenCongTy" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Mã số thuế</label>
                            <input type="text" name="masoThue" class="form-control" [(ngModel)]="customerInfo.masoThue" />
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <label>Địa chỉ hóa đơn</label>
                            <input type="text" name="diachiHoaDon" class="form-control" [(ngModel)]="customerInfo.diachiHoaDon" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Ngày đến</label>
                            <p>{{ customerInfo.ngayDen | date: "dd/MM/yyyy" }}</p>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="first">Nguồn đến</label>
                            <select id="select-control" class="form-control" name="nguonDen" [(ngModel)]="customerInfo.nguonDen">
                                <option value="fb">Facebook</option>
                                <option value="zalo">Zalo</option>
                                <option value="ctv">Cộng tác viên</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label>Người giới thiệu</label>
                            <select id="select-control" class="form-control" name="ngGioiThieu" [(ngModel)]="customerInfo.ngGioiThieu">
                                <option *ngFor="let customer of customers" [value]="customer.hoTen">
                                    {{ customer.hoTen }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" [(ngModel)]="customerInfo.email"
                                email #email="ngModel" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Zalo</label>
                            <input type="text" name="zalo" class="form-control" [(ngModel)]="customerInfo.zalo" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Facebook</label>
                            <input type="text" name="fb" class="form-control" [(ngModel)]="customerInfo.fb" />
                        </div>
                    </div>
                </div>
                <div *ngIf="!isNewCustomer" class="form-group float-left">
                    <button class="btn btn-danger" type="button" (click)="onDeleteData()">
                        Xóa Dữ Liệu
                    </button>
                </div>
                <div class="form-group float-right">
                    <button pButton icon="pi pi-check" class="ui-button-success" type="submit" label="Lưu" [disabled]="
              !f.valid ||
              !isNgaySinhValid ||
              (!isInputYear && !customerInfo.ngaySinh) ||
              (!customerInfo.ngaySinh && isInputYear && (!day || !month))
            "></button>&nbsp;
                    <button pButton icon="pi pi-spinner" label="Làm mới" class="ui-button-primary" type="button" (click)="onClearData()"></button>&nbsp;
                    <button pButton icon="pi pi-times" label="Đóng" type="button" class="ui-button-primary" (click)="onCloseForm()"></button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>