.mr-10 {
  margin-right: 10px;
}
.pd-0 {
  padding: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.customer-page {
  overflow-x: hidden;
}
.pd-0 {
  padding: 0;
}

label {
  margin-left: 5px;
}
#select-control {
  height: 34px;
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
}
th,
td {
  word-wrap: break-word;
}
.ml-10 {
  margin-left: 10px;
}

:host >>> .ui-dialog-content.ui-widget-content {
  overflow-x: hidden;
}
:host >>> .ui-dialog .ui-dialog-titlebar-icon span {
  display: none !important;
}
:host >>> .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-weight: 600;
}
