input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.pd-0 {
    padding: 0;
}

label {
  margin-left: 5px;
}
#select-control {
  height: 34px;
}
.pt-form-modal {
  padding-top: 230px;
}

@media (max-width: 767px) {
  .pt-form-modal {
    padding-top: 360px;
  }
}
