/* You can add global styles to this file, and also import other style files */
.pb-60 {
  padding-bottom: 60px;
}
.pl-15 {
  padding-left: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.header-table {
  display: inline-block;
}
html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0;
}
.ml-40 {
  margin-left: 39px;
}
.m-pointer {
  cursor: pointer;
}
.place-button {
  margin-top: 20px;
  padding-left: 30px;
}