<p-table [columns]="cols" [value]="warehouses" selectionMode="single" [(selection)]="selectedWarehouse" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
      List of Warehouses
  </ng-template>
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>    

  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>    
</p-table>

<p-dialog header="Warehouse Details" [(visible)]="displayDialogAdd" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="ui-g ui-fluid" *ngIf="warehouseTemp">
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="name">Name</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="name" [(ngModel)]="warehouseTemp.name" />
          </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="note">Note</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="note" [(ngModel)]="warehouseTemp.note" />
          </div>
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-plus" (click)="add()" label="Add"></button>    
      </div>
  </p-footer>
</p-dialog>

<p-dialog header="Warehouse Details" [(visible)]="displayDialogEdit" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
<div class="ui-g ui-fluid" *ngIf="warehouseTemp">
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="name">Name</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="name" [(ngModel)]="warehouseTemp.name" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="note">Note</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="note" [(ngModel)]="warehouseTemp.note" />
        </div>
    </div>
</div>
<p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="saveChanges()" label="Save Changes"></button>
        <button type="button" pButton icon="fa fa-check" (click)="delete()" label="delete"></button>
    </div>
</p-footer>
</p-dialog>